.np-agenda-con{
	padding-top: 40px;
	padding-bottom: 50px;
}



.np-agenda-lftsidebar{
	float: left;
    width: 32.1428%;
}
.np-agenda-rgt{
	float: right;
    width: 67.8571%;
    padding-left: 30px;
}


.np-agenda-rgt-grds-item ul{
	margin-left: -11px;
	margin-right: -11px;
}
.np-agenda-rgt-grds-item ul li{
	float: left;
	width: 50%;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 32px;
}
.np-agenda-rgt-grds-item ul li:nth-child(2n+1){
	clear: left;
}

.np-angenda-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}

.np-angenda-grd-item-img{
	min-height: 360px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.np-agenda-grd-item-des{
	padding: 30px 30px 40px 25px;
	background: #EBE6DC;
}

.np-agenda-grd-item-des label,
.np-agenda-rgt-des-inr label{
	display: inline-block;
	vertical-align: baseline;
	font-size: 10px;
	line-height: 1;
	color: #fff;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding: 7px 15px;
	font-weight: 600;
	background: #1A1429;
	border-radius: 2px;
}

.np-agid-title,
.np-agenda-rgt-des-title{
	display: block;
	font-size: 34px;
	line-height: 1;
	margin-bottom: 10px;
	color: #512C36;
}
.np-agid-title > a,
.np-agenda-rgt-des-title > a{
	color: #512C36;
}
.np-agid-title > a:hover,
.np-agenda-rgt-des-title > a:hover{
	color: #D5B48A;
}

.np-agenda-grd-item-des strong,
.np-agenda-rgt-des-inr strong{
	display: block;
	font-size: 12px;
	line-height: 1;
	margin-bottom: 25px;
	letter-spacing: 0.03em;
	font-weight: 600;
	text-transform: uppercase;
	color: #D5B48A;
}

.np-agid-text-module{
	padding-bottom: 1px;
}
.np-agid-text-module p,
.np-agenda-rgt-des-inr p{
	font-size: 16px;
	margin-bottom: 29px;
}

.np-agenda-grd-item-des > a,
.np-agenda-rgt-des-inr > a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 1;
	color: #512C36;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	font-weight: 500;
	border-bottom: 2px solid #512C36;
}
.np-agenda-grd-item-des > a:hover,
.np-agenda-rgt-des-inr > a:hover{
	color: #D5B48A;
	border-color: #D5B48A;
}

.np-angenda-grd-item:hover .np-angenda-grd-item-img{
	transform: scale(1.07);
	-webkit-transform: scale(1.07);
	-ms-transform: scale(1.07);
}

.np-agenda-lftimg-ctlr{
	float: left;
	width: 48.8%;
	position: relative;
	overflow: hidden;
}
.np-agenda-rgt-des{
	float: right;
	width: 51.2%;
}

.np-agenda-lftimg{
	min-height: 360px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.np-agenda-rgt-des{
	background: #EBE6DC;
	display: flex;
	align-items: center;
}
.np-agenda-rgt-des-inr{
	padding-left: 55px;
	padding-right: 25px;
}
.np-agenda-lftimg-rgt-des{
	padding-bottom: 30px;
}

.np-agenda-lftimg-rgt-des:hover .np-agenda-lftimg{
	transform: scale(1.07);
	-webkit-transform: scale(1.07);
	-ms-transform: scale(1.07);
}



.xs-np-agenda-select-ctlr span{
	float: left;
	font-size: 18px;
	color: #512C36;
	font-family: 'Operetta18-Medium';
}
.xs-np-agenda-select{
	float: right;
	width: 175px;
}

.np-agenda-con form .bootstrap-select button{
	font-size: 14px;
	color: #512C36;
	font-weight: 600;
	width: 100%;
	background: transparent;
	text-transform: lowercase;
	padding-top: 4px;
}



@media(max-width: 1599px){
	.container{
		max-width: 1200px;
	}
	.np-arrangementen-lftsidebar{
		width: 35%;
	}
	.np-arrangementen-rgt{
		width: 65%;
	}
	.np-agenda-grd-item-des {
	    padding: 30px 15px 40px 20px;
	}
	.np-agid-title, 
	.np-agenda-rgt-des-title {
	    font-size: 30px;
	}
	.np-agid-text-module p, 
	.np-agenda-rgt-des-inr p {
	    font-size: 15px;
	}
	.np-agenda-rgt-des-inr {
	    padding-left: 40px;
	    padding-right: 15px;
	}

}
@media(max-width: 1399px){
	.np-arrangementen-lftsidebar{
		width: 35%;
	}
	.np-arrangementen-rgt{
		width: 65%;
	}
	.np-agid-title, 
	.np-agenda-rgt-des-title {
	    font-size: 28px;
	}
}
@media(max-width: 1299px){
	.np-arrangementen-lftsidebar{
		width: 35%;
	}
	.np-arrangementen-rgt{
		width: 65%;
	}
}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.np-agenda-lftsidebar {
	    width: 35%;
	}
	.np-agenda-rgt {
	    width: 65%;
	    padding-left: 20px;
	}
	.np-agenda-con .np-nieuws-lftsidebar-des-inr {
	    padding-left: 30px;
	    padding-right: 25px;
	}
	.np-agenda-con{
		padding-bottom: 40px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.np-agenda-lftsidebar {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.np-agenda-rgt {
	    width: 100%;
	    padding-left: 0;
	}
	.np-nieuws-lftsidebar-inr{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.np-agid-text-module p, 
	.np-agenda-rgt-des-inr p{
		margin-bottom: 25px;
		font-size: 13px;
	}
	.np-agenda-grd-item-des strong, 
	.np-agenda-rgt-des-inr strong{
		margin-bottom: 20px;
	}
	.np-agid-title, 
	.np-agenda-rgt-des-title {
	    font-size: 26px;
	}
	.np-angenda-grd-item-img,
	.np-agenda-lftimg{
		min-height: 300px;
	}
	.np-agenda-con {
	    padding-bottom: 20px;
	}
	.xs-np-agenda-select-ctlr{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.np-agenda-con .np-nieuws-lftsidebar-inr{
		margin-bottom: 15px;
	}
	.np-agenda-lftsidebar .np-nieuws-lftsidebar-des {
	    min-height: 0;
	    padding: 40px 0;
	}
	.np-nieuws-lftsidebar-inr {
	    padding-left: 30px;
	    padding-right: 30px;
	    padding: 40px 30px;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.np-agenda-rgt-grds-item ul{
		margin-left: -8px;
		margin-right: -8px;
	}
	.np-agenda-rgt-grds-item ul li{
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 20px;
	}
	.np-agid-title, 
	.np-agenda-rgt-des-title {
	    font-size: 24px;
	}
	.np-agid-text-module p, 
	.np-agenda-rgt-des-inr p{
		font-size: 11px;
		margin-bottom: 20px;
	}
	.np-agenda-grd-item-des > a, 
	.np-agenda-rgt-des-inr > a{
		font-size: 11px;
	}
	.np-angenda-grd-item-img,
	.np-agenda-lftimg{
		min-height: 250px;
	}
	.np-agenda-grd-item-des {
	    padding: 30px 15px 35px 15px;
	}
	.np-agenda-con {
		padding-top: 20px;
	}
	.np-agenda-lftsidebar{
		margin-bottom: 15px;
	}
	.xs-np-agenda-select-ctlr{
		padding-top: 10px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.np-angenda-grd-item-img,
	.np-agenda-lftimg{
		min-height: 276px;
	}
	.np-agenda-lftimg-ctlr,
	.np-agenda-rgt-des{
		width: 100%;
	}
	.np-agenda-rgt-des-inr {
	    padding-left: 0;
	    padding-right: 0;
	}
	.np-agenda-rgt-des{
		padding: 35px 10px 40px 15px;
	}
	.np-agenda-rgt-grds-item ul{
		margin-left: 0;
		margin-right: 0;
	}
	.np-agenda-rgt-grds-item ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.np-agenda-con{
		padding-bottom: 0;
	}
	.np-agenda-lftimg-rgt-des,
	.np-angenda-grd-item{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.page-template-page-agenda .np-nieuws-lftsidebar-des p,
	.np-agenda-lftsidebar .np-nieuws-lftsidebar-des-ctlr p{
		display: block;
	}
}

@media(max-width: 479px){
	.np-agenda-con-inr{
		margin-left: -10px;
		margin-right: -10px;
	}
	.xs-np-agenda-select-ctlr,
	.np-agenda-rgt{
		padding-left: 10px;
		padding-right: 10px;
	}
	.np-angenda-grd-item-img,
	.np-agenda-lftimg{
		min-height: 200px;
	}
	.np-nieuws-lftsidebar-title{
		font-size: 35px;
	}
	.page-template-page-agenda .np-agenda-lftsidebar .np-nieuws-lftsidebar-des {
	    min-height: 320px;
	}
}

@media(max-width: 359px){
	.np-agenda-con .np-nieuws-lftsidebar-des-inr {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.np-agenda-lftsidebar .np-nieuws-lftsidebar-des {
	    min-height: 400px;
	}
}


