.np-ad-package-sec{
	padding-bottom: 90px;
}

.np-ad-package-inr{
	display: flex;
	align-items: center;
}
.np-ad-package-lft{
	order: 1;
	width: 42.8104%;
	padding-right: 185px;
}
.np-ad-package-rgt{
	order: 2;
	width: 57.1895%;
}

.np-ad-package-lft-title{
	display: block;
	font-size: 62px;
	line-height: 1;
	margin-bottom: 5px;
	color: #512C36;
	letter-spacing: 0.01em;
	font-family: 'Operetta18-Regular';
}
.np-ad-package-lft span.woocommerce-Price-amount bdi{
	display: block;
	font-size: 26px;
	color: #4C2631;
	font-weight: 400;
	margin-bottom: 40px;
}
.np-ad-package-lft p{
	font-size: 16px;
	color: #4C2631;
}

.np-ad-package-rgt-img{
	min-height: 490px;
}



.np-ad-btm-package-sec{
	padding-bottom: 115px;
}
.np-ad-btm-package-inr{
	display: flex;
	align-items: center;
}
.np-ad-btm-package-lft{
	width: 56.7741%;
}
.np-ad-btm-package-rgt{
	width: 43.2258%;
	padding-left: 130px;
	padding-right: 50px;
}

.np-ad-btm-package-lft-img{
	min-height: 490px;
}
.np-ad-btm-package-rgt-title{
	display: block;
	font-size: 34px;
	line-height: 1;
	margin-bottom: 20px;
	color: #512C36;
}
.np-ad-btm-package-rgt p{
	font-size: 16px; 
	color: #512C36;
}

.np-ad-expert-sec{
	padding-bottom: 105px;
}
.np-ad-expert-lft{
	float: left;
	width: 46.7857%;
	padding-right: 150px;
}
.np-ad-expert-rgt{
	float: right;
	width: 53.2142%;
	background: #1A1429;
	padding: 90px 70px 50px 92px;
}
.np-ad-expert-lft-title,
.np-ad-expert-rgt-title{
	display: block;
	font-size: 34px;
	line-height: 1;
	margin-bottom: 20px;
	color: #512C36;
}
.np-ad-expert-lft p{
	font-size: 16px;
	margin-bottom: 28px;
}
.np-ad-expert-lft p:last-child{
	margin-bottom: 0;
}

.np-ad-expert-rgt-title{
	color: #BE9563;
}
.np-ad-expert-rgt p{
	font-size: 16px;
	color: #D7D3CD;
	margin-bottom: 30px;
}
.np-ad-expert-rgt span{
	font-size: 16px;
	color: #D7D3CD;
	margin-bottom: 10px;
}

.np-ad-expert-rgt ul li{
	font-size: 16px;
	color: #D7D3CD;
}


.np-ad-contact-sec-inr{
	max-width: 1160px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #EBE6DC;
	padding: 60px 0 55px;
}


.np-ad-ctlr .restaurant-gallery-slider{
	padding-top: 0;
	padding-bottom: 50px;
}
.np-ad-ctlr .restaurant-testi-slider{
	background: inherit;
	padding-top: 75px;
	padding-bottom: 215px;
}

.np-ad-ctlr .contact-form-dsc-title{
	text-align: left;
	font-size: 34px;
	margin-bottom: 20px;
}
.np-ad-ctlr .contact-form-dsc p{
	color: #512C36;
	margin-bottom: 30px;
}
.np-ad-ctlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-html p{
	text-align: left;
}
.np-ad-ctlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
	margin-left: inherit;
	margin-right: inherit;
}

.np-ad-ctlr .np-ad-rgsholder-inr{
	padding-left: 22px;
}
.np-ad-ctlr .restaurant-gallery-slide-item{
	max-width: 100%;
	width: 800px;
}
.np-ad-ctlr .np-ad-rgs-testiholder-inr{
	padding-left: 10px;
}
.np-ad-ctlr .restaurantTestiSlide-item p{
	text-align: left;
}

@media(max-width: 1899px){
	.np-ad-package-lft{
		padding-right: 75px;
	}
	.np-ad-btm-package-rgt {
	    padding-left: 80px;
	    padding-right: 30px;
	}
	.np-ad-package-lft{
		padding-right: 120px;
	}
}
@media(max-width: 1599px){
	.container{
		max-width: 1200px;
	}
	.np-ad-package-sec{
		margin-left: -115px;
	}
	.np-ad-package-lft {
	    padding-right: 60px;
	    width: 50%;
	}
	.np-ad-package-rgt {
	    width: 50%;
	}
	.np-ad-package-lft-title{
		font-size: 60px;
	}
	.np-ad-package-lft p{
		font-size: 15px;
	}
	/*.np-ad-btm-package-lft {
	    width: 50%;
	}*/
	.np-ad-btm-package-rgt {
	    padding-left: 120px;
	    padding-right: 20px;
	}
	.np-ad-expert-lft{
		padding-right: 70px;
	}
	.np-ad-expert-lft,
	.np-ad-expert-rgt{
		width: 50%;
	}
	.np-ad-expert-lft p{
		font-size: 15px;
	}
	.np-ad-ctlr .restaurant-gallery-slider,
	.np-ad-ctlr .restaurant-testi-slider{
		margin-left: -115px;
	}
	.np-ad-expert-rgt{
		padding: 90px 40px 50px 50px;
	}
	.np-ad-expert-rgt-title{
		font-size: 32px;
	}
}

@media(max-width: 1399px){
	.np-ad-btm-package-rgt {
	    padding-left: 100px;
	}
}

@media(max-width: 1299px){
	.np-ad-btm-package-rgt {
	    padding-left: 35px;
	}
}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.np-ad-package-lft{
		padding-right: 40px;
	}
	.np-ad-package-lft-title {
	    font-size: 57px;
	}
	.np-ad-package-lft p {
	    font-size: 14px;
	}
	.np-ad-btm-package-rgt{
		padding-right: 10px;
	}
	.np-ad-btm-package-rgt p{
		font-size: 14px;
	}
	.np-ad-expert-lft {
	    padding-right: 40px;
	}
	.np-ad-expert-lft p{
		font-size: 14px;
		margin-bottom: 25px;
	}
	.np-ad-package-sec {
	    padding-bottom: 75px;
	}
	.np-ad-btm-package-sec {
	    padding-bottom: 90px;
	}
	.np-ad-expert-sec {
	    padding-bottom: 85px;
	}
	.np-ad-ctlr .restaurant-testi-slider {
	    padding-top: 60px;
	    padding-bottom: 200px;
	}
	.np-ad-ctlr .restaurant-gallery-slider{
		margin-left: 0;
	}
	.np-ad-ctlr .restaurant-testi-slider{
		margin-left: -15px;
	}
	

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.np-ad-package-lft {
	    padding-right: 20px;
	}
	.np-ad-package-lft-title {
	    font-size: 47px;
	}
	.np-ad-package-lft span.woocommerce-Price-amount bdi{
		margin-bottom: 30px;
	}
	.np-ad-btm-package-holder{
		margin-right: 20px!important;
	}
	.np-ad-package-sec {
	    margin-left: 0;
	}
	.np-ad-package-holder{
		margin-left: 25px!important;
	}
	.np-ad-btm-package-rgt-title{
		font-size: 32px;
	}
	.np-ad-package-sec {
	    padding-bottom: 50px;
	    padding-top: 30px;
	}
	.np-ad-btm-package-sec {
	    padding-bottom: 70px;
	}
	.np-ad-expert-lft {
	    padding-right: 20px;
	}
	.np-ad-expert-lft-title, 
	.np-ad-expert-rgt-title{
		font-size: 32px;
	}
	.np-ad-expert-sec {
	    padding-bottom: 65px;
	}
	.np-ad-expert-lft p,
	.np-ad-btm-package-rgt p,
	.np-ad-package-lft p,
	.np-ad-expert-rgt p{
		font-size: 12px;
	}
	.np-ad-expert-rgt {
	    padding: 60px 30px 40px 30px;
	}
	.np-ad-contact-sec-inr{
		background: inherit;
		padding: 0;
	}
	.np-ad-ctlr .contact-form-dsc-title{
		font-size: 32px;
		text-align: center;
	}
	.np-ad-ctlr .contact-form-dsc p,
	.np-ad-ctlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-html p{
		text-align: center;
	}
	.np-ad-ctlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
		margin-left: auto;
		margin-right: auto;
	}
	.np-ad-package-rgt-img{
		min-height: 400px;
	}
	.np-ad-ctlr .restaurant-gallery-slider{
		padding-bottom: 40px;
	}
	.np-ad-ctlr .restaurant-testi-slider {
	    padding-top: 50px;
	    padding-bottom: 180px;
	}
	.np-ad-btm-package-lft,
	.np-ad-btm-package-rgt{
	    width: 50%;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.np-ad-package-inr,
	.np-ad-btm-package-inr{
		display: initial;
	}
	.np-ad-package-lft{
		padding-right: 0;
		width: 100%;
		padding-left: 30px;
	}
	.np-ad-package-rgt,
	.np-ad-btm-package-lft,
	.np-ad-expert-rgt{
	    width: 100%;
	}
	.np-ad-btm-package-rgt{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-left: 30px;
	}
	.np-ad-expert-lft{
		width: 100%;
		padding-right: 0;
		padding-left: 30px;
	}
	.np-ad-package-sec{
		padding-right: 20px;
	}
	.np-ad-btm-package-sec{
		padding-left: 20px;
	}
	.np-ad-package-rgt{
		margin-bottom: 20px;
	}
	.np-ad-package-lft-title {
	    font-size: 40px;
	}
	.np-ad-package-sec {
	    padding-bottom: 20px;
	}
	.np-ad-btm-package-lft,
	.np-ad-expert-rgt{
		margin-bottom: 35px;
	}
	.np-ad-btm-package-sec {
	    padding-bottom: 40px;
	}
	.np-ad-btm-package-rgt-title {
	    font-size: 30px;
	}
	.np-ad-expert-lft-title, 
	.np-ad-expert-rgt-title {
	    font-size: 28px;
	}
	.np-ad-ctlr .contact-form-dsc-title {
	    font-size: 30px;
	}
	.np-ad-package-rgt-img{
		min-height: 300px;
	}
	.np-ad-expert-sec {
	    padding-bottom: 40px;
	}
	.np-ad-ctlr .restaurant-testi-slider{
		padding-bottom: 140px;
	}
	.np-ad-btm-package-lft-img {
	    min-height: 350px;
	}
	.np-ad-package-rgt-img-ctlr,
	.np-ad-btm-package-lft-img-ctlr{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.np-ad-package-rgt-img{
		min-height: 200px;
	}
	.np-ad-package-lft-title {
	    font-size: 35px;
	}
	.np-ad-btm-package-rgt-title {
	    font-size: 25px;
	}
	.np-ad-expert-lft-title, 
	.np-ad-expert-rgt-title {
	    font-size: 23px;
	}
	.np-ad-ctlr .contact-form-dsc-title {
	    font-size: 25px;
	}
	.np-ad-package-sec{
	    padding-bottom: 10px;
	}
	.np-ad-btm-package-sec {
	    padding-bottom: 20px;
	}
	.np-ad-ctlr .restaurant-testi-slider {
	    padding-bottom: 100px;
	}
	.np-ad-btm-package-lft-img {
	    min-height: 200px;
	}
	.np-ad-ctlr .restaurant-testi-slider{
		margin-left: 0px;
	}
	

}

@media(max-width: 479px){
	.np-ad-package-lft-title {
	    font-size: 28px;
	}
	.np-ad-btm-package-rgt-title {
	    font-size: 20px;
	}
	.np-ad-expert-lft-title, 
	.np-ad-expert-rgt-title {
	    font-size: 20px;
	}
	.np-ad-package-sec {
	    padding-right: 0px;
	}
	.np-ad-package-holder {
	    margin-left: 10px!important;
	    margin-right: 10px;
	}
	.np-ad-btm-package-sec {
	    padding-left: 0px;
	}
	.np-ad-btm-package-holder {
	    margin-right: 10px!important;
	    margin-left: 10px;
	}
	.np-ad-package-lft,
	.np-ad-btm-package-rgt{
		padding-right: 20px;
	}
	.np-ad-expert-sec-inr{
		margin-left: -10px;
		margin-right: -10px;
	}

}

@media(max-width: 359px){

}