
.np-roulette-sec{
	padding: 115px 0 35px;
}

.np-roulette-sec-inr{
	margin-left: 240px;
	display: flex;
	align-items: center;
}
.np-roulette-lft{
	float: left;
	width:  40.9482%;
	padding-right: 95px;
}
.np-roulette-rgt{
	float: right;
	width:  59.0517%;
}


.np-roulette-lft-title{
	display: block;
	font-size: 34px;
	line-height: 1.1;
	margin-bottom: 25px;
	color: #512C36;
}
.np-roulette-lft p{
	margin-bottom: 20px;
}

.np-roulette-lft a{
	width: 140px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	line-height: 1;
	color: #fff;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 600;
	background: #A21D1D;
	border: 2px solid #A21D1D;
}

.np-roulette-lft a:hover{
	background: transparent;
	color: #A21D1D;
}


.np-roulette-img{
	min-height: 450px;
}


.np-winner-sec{
	padding-top: 25px;
	padding-bottom: 95px;
}
.np-winner-sec-inr{
	margin-right: 200px;
	display: flex;
	align-items: center;
}
.np-winner-lft{
	float: left;
	width:  57.5%;
}
.np-winner-rgt{
	float: right;
	width: 42.5%;
	padding-left: 75px;
	padding-right: 42px;
}

.np-winner-rgt-title{
	display: block;
	font-size: 34px;
	line-height: 1;
	margin-bottom: 18px;
	color: #512C36;
}


.np-winner-lft-img{
	min-height: 445px;
}




/*slider*/


.np-casino-des-slider .slider-arrows{
	padding-bottom: 75px;
}

.np-casino-ctlr .np-roulette-sec{
	padding-top: 0;
	padding-bottom: 140px;
}

.np-casino-ctlr .restaurant-testi-slider{
	background: inherit;
	padding-top: 0;
	padding-bottom: 30px;
}
.np-casino-ctlr .slider-arrows{
	padding-bottom: 78px;
}