
.np-roulette-sec{
	padding: 115px 0 35px;
}

.np-roulette-sec-inr{
	max-width: 1160px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: auto;
}
.np-roulette-lft{
	order: 1;
	float: left;
	width:  40.9482%;
	padding-right: 95px;
}
.np-roulette-rgt{
	order: 2;
	float: right;
	width:  59.0517%;
}


.np-roulette-lft-title{
	display: block;
	font-size: 34px;
	line-height: 1.1;
	margin-bottom: 25px;
	color: #512C36;
}
.np-roulette-lft p{
	margin-bottom: 20px;
}

.np-roulette-lft a{
	width: 140px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	line-height: 1;
	color: #fff;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 600;
	background: #A21D1D;
	border: 2px solid #A21D1D;
}

.np-roulette-lft a:hover{
	background: transparent;
	color: #A21D1D;
}


.np-roulette-img{
	min-height: 450px;
}


.np-winner-sec{
	padding-top: 25px;
	padding-bottom: 95px;
}
.np-winner-sec-inr{
	max-width: 1200px;
	width: 100%;
	display: flex;
	align-items: center;
}
.np-winner-lft{
	float: left;
	width:  57.5%;
}
.np-winner-rgt{
	float: right;
	width: 42.5%;
	padding-left: 75px;
	padding-right: 42px;
}

.np-winner-rgt-title{
	display: block;
	font-size: 34px;
	line-height: 1;
	margin-bottom: 18px;
	color: #512C36;
}


.np-winner-lft-img{
	min-height: 445px;
}




/*slider*/


.np-casino-des-slider .slider-arrows{
	padding-bottom: 75px;
}

.np-casino-ctlr .np-roulette-sec{
	padding-top: 0;
	padding-bottom: 140px;
}

.np-casino-ctlr .restaurant-testi-slider{
	background: inherit;
	padding-top: 0;
	padding-bottom: 210px;
}

.np-casino-ctlr .restaurantGallerySlider .swiper-slide {
    width: 730px;
}
.np-casino-slider-ctlr{
	padding-left: 140px;
}
.np-casino-rtstestiholder-inr{
	padding-left: 130px;
}
.np-casino-ctlr .restaurant-testi-slider .slider-arrows{
	padding-bottom: 78px;
}
.np-casino-ctlr .restaurantTestiSlide-item p{
	text-align: left;
}


@media(max-width: 1599px){
	.container{
		max-width: 1200px;
	}
	.np-casino-slider-ctlr,
	.np-casino-rtstestiholder-inr{
	    padding-left: 0px;
	}
	.np-casino-ctlr .restaurant-gallery-slider,
	.np-casino-ctlr .restaurant-testi-slider{
		margin-left: -100px;
	}
	.np-roulette-sec {
	    padding: 115px 0 0px;
	}
	.np-winner-sec{
		padding-top: 0;
	}
	.np-casino-ctlr .np-roulette-sec {
	    padding-top: 0;
	    padding-bottom: 120px;
	}
	.np-winner-rgt{
		padding-left: 50px;
    	padding-right: 15px;
	}
}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.np-roulette-sec{
		padding-top: 95px;
	}
	.np-roulette-lft-title{
		font-size: 32px;
	}
	.np-roulette-lft{
		padding-right: 40px;
	}
	.np-winner-sec{
		padding-bottom: 85px;
	}
	.np-winner-rgt{
		padding-left: 40px;
    	padding-right: 20px;
	}
	.np-winner-rgt-title{
		font-size: 30px;
	}
	.np-roulette-img,
	.np-winner-lft-img{
	    min-height: 400px;
	}
	.np-casino-ctlr .restaurant-testi-slider {
	    padding-bottom: 200px;
	}
	.np-casino-ctlr .restaurant-gallery-slider,
	.np-casino-ctlr .restaurant-testi-slider{
		margin-left: 0px!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.np-roulette-sec{
		padding-top: 80px;
	}
	.np-roulette-lft-title{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.np-winner-sec{
		padding-bottom: 70px;
	}
	.np-winner-rgt-title{
		font-size: 27px;
	}
	.np-roulette-lft{
		width: 50%;
		padding-right: 20px;
	}
	.np-roulette-lft p,
	.np-winner-rgt p{
		font-size: 12px;
	}
	.np-roulette-rgt,
	.np-winner-lft{
		width: 50%;
	}
	.np-winner-rgt{
		width: 50%;
		padding-left: 20px;
	}
	.np-casino-ctlr .np-roulette-sec {
	    padding-bottom: 80px;
	}
	.np-roulette-img,
	.np-winner-lft-img{
	    min-height: 350px;
	}
	.np-casino-ctlr .restaurant-testi-slider {
	    padding-bottom: 180px;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.np-roulette-sec{
		padding-top: 65px;
	}
	.np-roulette-lft-title{
		font-size: 28px;
		margin-bottom: 15px;
	}
	.np-winner-sec{
		padding-bottom: 55px;
	}
	.np-winner-rgt-title{
		font-size: 24px;
	}
	.np-roulette-lft p,
	.np-winner-rgt p{
		font-size: 11px;
	}
	.np-roulette-lft {
	    width: 100%;
	    padding-right: 0;
	    padding-left: 25px;
	}
	.np-roulette-rgt, 
	.np-winner-lft{
		width: 100%;
		margin-bottom: 35px;
	}
	.np-roulette-sec-inr,
	.np-winner-sec-inr{
		display: initial;
	}
	.np-winner-rgt{
		width: 100%;
		padding-left: 25px;
		padding-right: 0;
	}
	.np-roulette-img,
	.np-winner-lft-img{
	    min-height: 300px;
	}
	.np-casino-ctlr .restaurant-testi-slider {
	    padding-bottom: 140px;
	}
	.np-casino-ctlr .np-roulette-sec {
	    padding-bottom: 65px;
	}
	.np-roulette-img-ctlr,
	.np-winner-lft-img-ctlr{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.np-roulette-sec{
		padding-top: 50px;
	}
	.np-winner-sec{
		padding-bottom: 45px;
	}
	.np-winner-rgt-title{
		font-size: 20px;
	}
	.np-roulette-img,
	.np-winner-lft-img{
	    min-height: 200px;
	}
	.np-casino-ctlr .np-roulette-sec {
	    padding-bottom: 55px;
	}
	.np-casino-ctlr .restaurant-testi-slider {
	    padding-bottom: 100px;
	}

}

@media(max-width: 479px){
	.np-winner-sec {
	    padding-bottom: 25px;
	}

}

@media(max-width: 359px){

}