.footer-wrp{
	background: #fff;
	overflow: hidden;
}
.footer-top{
	padding-top: 67px;
	padding-bottom: 50px;
	border-bottom: 2px solid #FAF9F8;
}
.ftr-logo a{
	display: inline-block;
	margin-left: -38px;
}
.ftr-left,
.ftr-top-col{
	float: left;
}
.ftr-left{
	max-width: 25.357%;
	width: 100%;
	padding-right: 10px;
}
.ftr-top-col{
	width: 100%;
	padding-right: 10px;
}
.ftr-col-nav{
	max-width: 33.856%;

}
.ftr-top-addr-cntct-wrap{
	max-width: 40.787%;
	width: 100%;
	float: left;
}
.ftr-top-row-col-title{
    font-family: 'Operetta18-Regular';
	font-size: 20px;
	line-height: 1;
	text-align: center;
	letter-spacing: 0.038em;
	color: #522D37;	
	position: relative;
	padding-right: 22px;
	display: inline-block;
	margin-bottom: 32px;
	display: none;
}
.ftr-top-row-col-title:after{
	position: absolute;
	content: "";
	background-image: url('../images/down-icon.svg');
	width: 12px;
	height: 8px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	top: 7px;
	right: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;


}
.ftr-row-title-rotet:after{
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
}



.ftr-col-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-col-nav > ul > li{
	padding-bottom: 20px;
	line-height: 1;
	width: 50%;
}
.ftr-col-nav > ul > li > a{
	display: inline-block;
	line-height: 1;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.03em;
	color: #D8B78C;
	text-transform: capitalize;
}
.ftr-col-nav > ul > li > a:hover{
	color: #A21D1D;
}
.ftr-top-col-title{
	font-weight: 800;
	font-size: 12px;
	color: #D8B78C;
	line-height: 1;
	letter-spacing: 0.03em;
	margin-bottom: 15px;
}
.ftr-col-contact .ftr-top-col-title{
	margin-bottom: 17px;
}
.ftr-col-address a{
	display: inline-block;
	line-height: 2.7;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.03em;
	color: #D8B78C;
	text-transform: capitalize;

}
.ftr-col-contact{
	padding-right: 0;
	width: 50%;
}
.ftr-col-address{

	width: 50%;
}
.ftr-col-contact-tell{
	margin-bottom: 6px;
}
.ftr-col-contact-tell a{
	display: inline-block;
	line-height: 1.5;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.03em;
	color: #D8B78C;
	text-transform: capitalize;
}
.ftr-col-contact-mail a{
	display: inline-block;
	line-height: 1.5;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.03em;
	color: #D8B78C;
}
.ftr-col-contact-tell a:hover,
.ftr-col-contact-mail a:hover,
.ftr-col-address a:hover{
	color: #A21D1D;
}

.footer-bottom{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 22px;
	padding-bottom: 25px;
}

.ftr-btm-socials{
	padding-right: 10px;
}
.ftr-btm-socials > ul{
	display: flex;
	align-items: center;
}
.ftr-btm-socials > ul > li{
	padding: 0 11px;
}
.ftr-btm-socials > ul > li > a{
	display: inline-block;
}
.ftr-btm-socials > ul > li > a i{
	display: inline-block;
}
.ftr-btm-socials > ul > li:first-child{
	padding-left: 0;
}
.ftr-btm-socials > ul > li:last-child{
	padding-right: 0;
}
.ftr-btm-socials > ul > li > a:hover i svg{
	fill: #A21D1D;
}

.ftr-btm-manu{
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}
.ftr-btm-manu > ul{
	display: flex;
	align-items: center;
}
.ftr-btm-manu > ul > li{
	padding: 0 17px;
	position: relative;
}
.ftr-btm-manu > ul > li:after{
	content: "";
	position: absolute;
	background: #999999;
	height: 1px;
	width: 4px;
	right: -2px;
	top: 50%;
	transform: translateY(-50%);
}
.ftr-btm-manu > ul > li:first-child{
	padding-left: 0;
}
.ftr-btm-manu > ul > li:last-child{
	padding-right: 0;
}
.ftr-btm-manu > ul > li:last-child:after{
	content: none;
}
.ftr-btm-manu > ul > li > a{
	display: inline-block;
	line-height: 1;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.03em;
	color: #999999;
	text-transform: capitalize;
}
.ftr-btm-manu > ul > li > a:hover{
	color: #A21D1D;
}
.ftr-btm-brands-logo-cntlr{
	/*margin-left: auto;*/
}
.ftr-btm-brands-logo-cntlr > ul{
	display: flex;
	align-items: center;
}
.ftr-btm-brands-logo-cntlr > ul > li{
	padding: 0 12px;
	display: none;
}
.ftr-btm-brands-logo-cntlr > ul > li:first-child{
	padding-left: 0;
	display: inline-block;
}
.ftr-btm-brands-logo-cntlr > ul > li:nth-child(2){
	display: inline-block;
}
.ftr-btm-brands-logo-cntlr > ul > li:last-child{
	padding-right: 0;
	display: inline-block;
}
.ftr-btm-brands-logo-cntlr > ul > li > .ftr-btm-brands-logo{

}
.ftr-btm-brands-logo-cntlr > ul > li > .ftr-btm-brands-logo a{
	display: inline-block;
}
.ftr-btm-brands-last-logo{
	height: 48px;
	width: 48px;
	border-radius: 50% 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #999999;
}
.ftr-btm-brands-last-logo span{
	color: #fff;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 700;
	line-height: 1;
}


/*footer top sec*/
.footer-top-sec{
	position: relative;
	background: #1a1429;
	padding: 70px 15px;
	margin-top: 28px;
}
.footer-top-sec-bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer-top-sec-cntlr{
	display: flex;
	align-items: center;
	background: #4c2631;
	padding: 40px 60px 20px 60px;
}

.footer-top-col-hedding{
	max-width: 22.69%;
	width: 100%;
	padding-right: 10px;
}
.footer-top-col-title{
	font-family: 'Operetta18-Regular';
	font-size: 30px;
	line-height: 1.3;
	letter-spacing: 0.038em;
	color: #C19764;
	margin-bottom: 0;
}
.footer-top-col-desc{
	max-width: 36.38%;
	width: 100%;
	padding-right: 10px;
}
.footer-top-col-desc p{
	font-weight: 500;
	font-size: 14px;
	line-height: 1.7;
	color: #CABFBA;
	margin-bottom: 0;
}
.footer-top-form{
	max-width: 40.68%;
	width: 100%;
	
	
}
.input-fields-row{
	display: flex;
	align-items: center;
	margin: 0 -9px;
	margin-bottom: 20px;
}
.input-fields-col{
	padding: 0 9px;
	width: 100%;
	position: relative;
}
.input-fields-row-d2 .input-fields-col{
	width: 50%;
}
.input-fields-row-d2 .input-fields-email-col{
	width:  64.42%;
}
.input-fields-row-d2 .input-fields-submit-col{
	width: 35.58%;
}
.footer-top-form .input-fields-row .input-fields-col input{
	width: 100%;
	outline: none;
	border: 1px solid transparent;
	padding: 12px 20px;
	background: #381922;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	line-height: 1;
	border-radius: 0!important;
}
.footer-top-form .input-fields-row .input-fields-col input:focus{
	border-color: #C19764;
}
.footer-top-form .input-fields-row .input-fields-col input[type="email"]{
	height: 41px;
}
.footer-top-form .was-validated .input-fields-row .input-fields-col input.form-control{
	padding-left: 42px;
}
.input-fields-submit-col button{
	width: 100%;
	outline: none;
	background: #1A1429;
	font-weight: 600;
	font-size: 11px;
	line-height: 1;
	outline: none;
	border: none;
	letter-spacing: 0.03em;
	padding: 15px 5px;
	color: #FFFFFF;
	cursor: pointer;
}
.input-fields-submit-col button:hover{
	background: #A21D1D;
}
/*.footer-top-form .input-fields-row .input-fields-col.form-control input:focus{
	border-color: transparent;
}*/
.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.footer-top-form .was-validated .input-fields-row .input-fields-col.form-control:invalid:focus,
.was-validated .form-control:invalid:focus{
	border-color: #A21D1D!important;

}
.footer-top-form .input-fields-row .form-control:focus{
	box-shadow: none!important;
}

.footer-top-form .was-validated .input-fields-row .input-fields-col.from-group:after{
	position: absolute;
	content: "";
	background-image: url('../images/form-danger-icon.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 15px;
	height: 15px;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}


.footer-top-form .input-fields-row .input-fields-col input::placeholder{
  color: #CABFBA;
  opacity: 1;
}

.footer-top-form .input-fields-row .input-fields-col input::-webkit-input-placeholder{
 color: #CABFBA;
 opacity: 1;
}

.footer-top-form .input-fields-row .input-fields-col input:-ms-input-placeholder{
 color: #CABFBA;
 opacity: 1;
}


.footer-top-form .was-validated .input-fields-row .input-fields-col.from-group input::placeholder {
  color: #A21D1D;
 
}

.footer-top-form .was-validated .input-fields-row .input-fields-col.from-group input:-ms-input-placeholder {
 color: #A21D1D;
}

.footer-top-form .was-validated .input-fields-row .input-fields-col.from-group input::-ms-input-placeholder {
 color: #A21D1D;
}
.footer-top-form .was-validated .input-fields-row .input-fields-col.from-group .form-control{
	border-color: #A21D1D;
}

.ftr-top-news-form-cntlr .input-fields-row .input-fields-col.form-control {
	border-radius: 0!important;
}




/*footer top sec version 2*/
.footer-top-sec-v2{
	position: relative;
	padding-bottom: 60px;
}
.footer-top-sec-v2-bg{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #1a1429;
	height: 280px;
}
.footer-top-sec-v2-inr{
	display: flex;
	flex-wrap: wrap;
	padding: 0 52px;
	background: #4c2631;
	padding-top: 55px;
	padding-bottom: 60px;
	margin-top: -150px;
}
.ftr-top-sec-v2-lft{
	width: 43.75%;
}
.fts-v2-lft-top{

}
.fts-v2-lft-sub-title{
	font-family: 'Operetta18-Regular';
	font-size: 18px;
	line-height: 1;
	color: #C19764;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.fts-v2-lft-title{
	font-family: 'Operetta18-Medium';
	font-size: 26px;
	line-height: 1;
	color: #C19764;
	letter-spacing: 0.04em;
	margin-bottom: 26px;
}


.fts-v2-lft-sediule{
	display: flex;
	justify-content: space-between;
}
.fts-v2-lft-sediule-col{
	max-width: 225px;
	width: 100%;
}
.fts-v2-lft-sediule-col > ul > li{
	line-height: 1;
	padding: 6px 0;
}
.fts-v2-lft-sediule-col > ul > li:first-child{
	padding-top: 0;
}
.fts-v2-lft-sediule-col > ul > li:last-child{
	padding-bottom: 0;
}
.fts-v2-lft-sediule-items{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fts-v2-lft-sdl-day strong{
	font-weight: 700;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 0.03em;
	color: #EBE7DE;
	display: inline-block;

}
.fts-v2-lft-sdl-time span{
	font-weight: 500;
	font-size: 13px;
	line-height: 14px;
	display: inline-block;
	color: #EBE7DE;
}

.ftr-top-sec-v2-rt{
	width: 56.25%;
	padding-left: 115px;
	display: flex;
	flex-wrap: wrap;
}
.fts-v2-rt-desc{
	width: 55%;
}
.fts-v2-rt-desc-row{

}
.fts-v2-rt-desc-row-title{
	font-family: 'Operetta18-Regular';
	font-size: 18px;
	line-height: 1;
	color: #C19764;
	margin-bottom: 6px;
}
.fts-v2-rt-desc-contact{
	margin-bottom: 20px;
}
.fts-v2-rt-desc-cntct-tel{
	margin-bottom: 5px;
}
.fts-v2-rt-desc-cntct-tel a,
.fts-v2-rt-desc-cntct-mail a{
	display: inline-block;
	font-weight: 500;
	font-size: 13px;
	line-height: 14px;
	color: #EBE7DE;
}
.fts-v2-rt-desc-cntct-tel a:hover,
.fts-v2-rt-desc-cntct-mail a:hover{
	color: #A21D1D;
}
.fts-v2-rt-desc-visit{
	margin-bottom: 20px;
}
.fts-v2-rt-desc-visit a{
	display: inline-block;
	font-weight: 500;
	font-size: 13px;
	line-height: 2;
	color: #EBE7DE;
}
.fts-v2-rt-desc-visit a:hover,
.fts-v2-rt-desc-Parking a:hover{
	color: #A21D1D;

}
.fts-v2-rt-desc-Parking{

}
.fts-v2-rt-desc-Parking a{
	display: inline-block;
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
	color: #EBE7DE;
}

.fts-v2-rt-form{
	max-width: 45%;
}
.fts-v2-rt-form-title{
	margin-bottom: 18px;
}
.fts-v2-input-fields-submit-col{
	margin-top: 14px;
	max-width: 170px;
	width: 100%;
}

.fts-v2-rt-form .input-fields-row{
	margin: 0 -4px;
	margin-bottom: 9px;
	
}
.fts-v2-rt-form .input-fields-row .input-fields-col{
	padding: 0 4px;
}

/*responsive*/
@media(max-width: 1599px){
	.footer-top-sec-v2-inr{
		padding-left: 40px;
		padding-right: 40px;
	}
	.footer-top-col-title{
		font-size: 26px;
	}
	.ftr-top-sec-v2-lft{
		width: 50%;
	}
	.ftr-top-sec-v2-rt{
		width: 50%;
		padding-left: 60px;
	}
	.fts-v2-rt-desc,
	.fts-v2-rt-form{
		max-width: 50%;
	}
	.fts-v2-rt-desc-row-title{
		font-size: 16px;
	}

	.footer-top-sec-cntlr{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media(max-width: 1399px){
	.footer-top-sec-v2-inr{
		padding-left: 30px;
		padding-right: 30px;
	}
	.fts-v2-rt-desc-row-title{
		font-size: 15px;
	}
	.fts-v2-lft-sdl-day strong,
	.fts-v2-lft-sdl-time span,
	.fts-v2-rt-desc-cntct-tel a,
	.fts-v2-rt-desc-cntct-mail a,
	.fts-v2-rt-desc-visit a,
	.fts-v2-rt-desc-Parking a{
		font-size: 12px;
	}
	.footer-top-sec-cntlr{
		padding-left: 40px;
		padding-right: 40px;
	}

	/*footer top sec version 2*/
	.footer-top-sec-v2-inr{
		margin-top: -135px;
	}
}
@media(max-width: 1199px){
	.ftr-logo a{
		margin-left: 0;
	}
	/*footer top sec*/
	.footer-top-sec-cntlr{
		padding: 30px 20px 15px 20px;
	}
	.input-fields-row{
		margin: 0 -7px;
		margin-bottom: 14px;
	}
	.input-fields-col{
		padding: 0 7px;
	}
	.footer-top-col-title{
		font-size: 23px;
	}
	.footer-top-col-desc p{
		font-size: 13px;
	}
	.footer-top-col-hedding br,
	.footer-top-col-desc br{
		display: none!important;
	}

	/*footer top sec version 2*/
	.footer-top-sec-v2-bg{
		top: 0;
		height: auto;
	}
	.footer-top-sec-v2-inr{
		margin-top: -120px;
	}
	.ftr-top-sec-v2-lft{
		width: 48%;
	}
	.ftr-top-sec-v2-rt{
		padding-left: 30px;
		width: 52%;
	}
	.fts-v2-lft-sediule-col{
		max-width: 200px;
	}
}
@media(max-width: 991px){
	/*footer top sec*/
	.footer-top-sec-cntlr{
		flex-wrap: wrap;
	}
	.footer-top-sec{
		padding: 45px 15px;
	}
	.footer-top-col-hedding,
	.footer-top-col-desc{
		max-width: 100%;
		text-align: center;
		margin-bottom: 25px;
	}
	.footer-top-col-hedding{
		margin-bottom: 14px;
	}
	.footer-top-col-title{
		font-size: 26px;
	}
	.footer-top-form{
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.footer-top-col-hedding br,
	.footer-top-col-desc br{
		display: block!important;
	}
	.footer-top{
		border-bottom: none;
		padding-top: 55px;
		padding-bottom: 125px;
	}
	.ftr-left{
		max-width: 100%;
		text-align: center;
		margin-bottom: 45px;
	}
	.ftr-col-nav{
		max-width: 50%;
	}
	.ftr-top-addr-cntct-wrap{
		max-width: 50%;
	}


	.ftr-logo{
		margin-bottom: 35px;
	}
	.ftr-btm-socials > ul{
		justify-content: center;
	}

	.footer-bottom{
		padding: 0;
	}
	.ftr-btm-brands-logo-cntlr{
		order: 1;
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}
	.ftr-btm-manu{
		order: 2;
		padding: 28px 0;
		position: relative;
		width: 100%;
	}
	.ftr-btm-manu > ul{
		justify-content: center;
	}
	.ftr-btm-manu:after{
		position: absolute;
		content: "";
		background: #FAF9F8;
		height: 2px;
		left: -25px;
		right: -25px;
		top: 0;
	}

	/*footer top sec version 2*/
	.footer-top-sec-v2-inr{
		margin-top: -100px;
	}
	.ftr-top-sec-v2-lft{
		width: 100%;
		margin-bottom: 45px;
	}
	.fts-v2-lft-sediule{
		justify-content: initial;
	}
	.fts-v2-lft-sediule-col{
		max-width: 250px;
		margin-bottom: 13px;
	}
	.fts-v2-rt-desc-row-title{
		font-size: 16px;
	}
	.ftr-top-sec-v2-rt{
		width: 100%;
		padding-left: 0;
	}
	.fts-v2-lft-sediule-col.fts-v2-lft-sediule-col2{
		margin-left: 100px;
	}
	.fts-v2-rt-form{
		max-width: 50%;
	}
}
@media(max-width: 767px){

	/*footer top sec*/
	.footer-top-sec{
		padding: 35px 0;
	}
	
	.ftr-left{
		margin-bottom: 35px;
	}
	
	.ftr-col-nav{
		text-align: center;
	}
	.ftr-col-nav{
		max-width: 100%;
		margin-bottom: 30px;
	}
	.ftr-col-nav > ul > li{
		width: 100%;
		text-align: center;
	}
	.ftr-top-addr-cntct-wrap{
		max-width: 100%;
		text-align: center;
	}
	.ftr-top-row-col-title{
		display: inline-block;
	}
	.ftr-col-address{
		width: 100%;
		margin-bottom: 30px;
	}
	.ftr-col-contact{
		width: 100%;
	}
	
	.xs-ftr-mbl-accrdn{
		display: none;
	}
	.ftr-col-nav > ul{
		display: none;
	}
	.ftr-btm-manu > ul{
		flex-wrap: wrap;
	}

	/*footer top sec version 2*/
	.footer-top-sec-v2{
		padding-bottom: 40px;
	}
	.footer-top-sec-v2-inr{
		margin-top: -80px;
	}
	.fts-v2-lft-sediule{
		display: initial;
	}
	.fts-v2-lft-sediule-col.fts-v2-lft-sediule-col2{
		margin-left: 0;
	}
	.ftr-top-sec-v2-rt{
		display: initial;
	}
	.fts-v2-rt-desc{
		max-width: 100%;
		width: 100%;
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	}
	.fts-v2-rt-form{
		max-width: 100%;
		width: 100%;
	}
	.fts-v2-rt-form{
		
	}
	.fts-v2-rt-form p{
		margin-bottom: 25px;
		font-weight: 500;
		font-size: 11px;
		line-height: 20px;
		text-align: center;
		color: #CABFBA;
		max-width: 225px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.fts-v2-input-fields-submit-col{
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}
	.fts-v2-rt-form-title{
		font-size: 26px;
	}
	.footer-top-sec-v2-inr{
		padding-bottom: 45px;
	}
	.fts-v2-lft-title{
		font-size: 22px;
	}

	.ftr-btm-manu:after{
		position: absolute;
		content: "";
		background: #FAF9F8;
		height: 2px;
		left: -20px;
		right: -20px;
		top: 0;
	}


	.ftr-top-col,
	.ftr-left,
	.ftr-btm-socials{
		padding-right: 0;
	}
}
@media(max-width: 639px){
	/*footer top sec version 2*/

}
@media(max-width: 575px){
	/*footer top sec*/
	.footer-top-sec{
		padding: 20px 0;
	}
	.input-fields-row{
		flex-wrap: wrap;
		margin-bottom: 9px;
	}
	.input-fields-col,
	.input-fields-row-d2 .input-fields-col{
		width: 100%;
		margin-bottom: 9px;
	}
	.input-fields-row-d2 .input-fields-col:last-child{
		margin-bottom: 0;
	}
	.input-fields-submit-col button{
		max-width: 170px;
	}
	.footer-top-col-hedding br,
	.footer-top-col-desc br{
		display: none!important;
	}
	.footer-top{
		padding-bottom: 80px;
		margin-left: -10px;
		margin-right: -10px;
	}
	.footer-bottom{
		margin-left: -10px;
		margin-right: -10px;
	}
	/*footer top sec version 2*/
	.footer-top-sec-v2{
		padding-bottom: 25px;
	}
	.fts-v2-lft-title{
		font-size: 18px;
	}
	.footer-top-sec-v2-inr{
		margin-top: -60px;
		margin-left: -10px;
		margin-right: -10px;
	}
	.footer-top-sec-v2-inr{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
		padding-top: 35px;
	}
	.fts-v2-rt-form .input-fields-row{
		margin-bottom: 0;
	}
	.ftr-btm-manu:after{
		left: -10px;
		right: -10px;
	}

}
@media(max-width: 479px){

}
@media(max-width: 359px){

}