header.header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 22;
}

.header-inr{
	position: relative;
}
.hdr-topbar{
	position: absolute;
	right: 0;
	top: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.hdr-topbar > div{
	display: flex;
	align-items: center;
}
.hdr-top-menu{
	padding-right: 15px;
}
.hdr-top-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 13px;
}
.hdr-top-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
}
.hdr-top-menu ul li a:hover{
	color: #A21D1D;
}
.hdr-top-menu ul li a span {
    position: absolute;
    right: -16px;
    top: -13px;
    width: 16px;
    height: 16px;
    border-radius: 100% 100%;
    background: #A21D1D;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.hdr-language{
	width: 75px;
	height: 41px;
	border: 2px solid #FFFFFF;
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding-left: 2px;
	padding-right: 2px;
}
.hdr-lang{
	margin: 0;
	width: 50%;
	position: relative;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hdr-lang:last-child{
	margin-left: auto;
}
.hdr-language input{
	width: 20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.hdr-language .switch{
	position: absolute;
	background: #fff;
	color: #000;
	border-radius: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	opacity: 0;

}
.hdr-language strong{
	position: relative;
	z-index: 2;
}
.hdr-lang input:checked ~ .switch {
  opacity: 1;
}

.hdr-lang input:checked + strong{
	color: #1A1429;
}




.logo{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 145px;
	background-color: #0A2B20;
	z-index: 20;
}

.logo a{
	display: inline-block;
	vertical-align: baseline;
}

.main-nav-cntlr{
	padding-top: 90px;
}

.hdr-menu > ul > li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 37px;
	position: relative;
}
.hdr-menu > ul > li > a{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.hdr-menu > ul > li:hover > a{
	color: #A21D1D;
}
.main-nav{
	display: flex;
}
.hdr-rgt-menu{
	margin-left: auto;
}
.hdr-lft-menu.hdr-menu > ul > li:first-child{
	padding-left: 0;
}
.hdr-rgt-menu.hdr-menu > ul > li:last-child{
	padding-right: 0;
}



.hdr-menu > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 205px;
	padding: 5px 0 0 0;
	background: #fff;
	border-top: 2px solid #222020;
	z-index: 30;
	box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
}
.hdr-menu > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}

.hdr-menu > ul > li.menu-item-has-children > a{
	padding-right: 10px;
	position: relative;
}
.hdr-menu > ul > li.menu-item-has-children > a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
}
.hdr-menu  ul.sub-menu li{
	padding: 0 0 0 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
.hdr-menu ul.sub-menu li a{
	color: #9e9ea1;
	font-size: 13px;
	display: block;
	padding: 10px 20px;
	position: relative;
}

.hdr-menu ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #222020;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.hdr-menu ul.sub-menu li:hover:after {
    height: 100%;
}



nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{

}
nav.main-nav > ul > li > a{

}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}




header.header.page-header{
	position: static;
	margin-bottom: 70px;
}


header.header.page-header .logo{
	background: transparent;
	padding-top: 20px;
	width: auto;
	height: auto;
}


header.header.page-header .hdr-menu > ul > li > a,
header.header.page-header .hdr-top-menu ul li a{
	color: #4C2631;
}

header.header.page-header .hdr-menu > ul > li:hover > a,
header.header.page-header .hdr-top-menu ul li a:hover{
	color: #CB9F67;
}

header.header.page-header .hdr-language{
	border-color: #4C2631;
}


header.header.page-header .hdr-language .switch{
	background: #4C2631;
	color: #fff;

}
header.header.page-header .hdr-language strong{
	color: #4C2631;
}


header.header.page-header .hdr-lang input:checked + strong{
	color: #fff;
}





@media(max-width: 1599px){

}

@media(max-width: 1399px){
	.hdr-menu > ul > li > a{
		font-size: 17px;
	}
	.hdr-menu > ul > li{
		padding-left: 30px;
		padding-right: 30px;
	}
	.hdr-top-menu ul li{
		padding-left: 10px;
		padding-right: 10px;
	}
	.logo{
		width: 190px;
		padding-left: 10px;
		padding-right: 10px;
		height: 140px;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hdr-menu > ul > li{
		padding-left: 25px;
		padding-right: 25px;
	}
	.logo {
	    width: 156px;
	    height: 135px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.hdr-menu > ul > li > a{
		font-size: 17px;
	}
	.hdr-top-menu ul li a{
		font-size: 13px;
	}
	.hdr-lang{
		font-size: 13px;
	}

}

@media(max-width: 991px){
	.header-inr{
		height: 100px;
	}
	.main-nav-cntlr,
	.hdr-topbar{
		display: none;
	}
	.logo {
	    width: 160px;
	    height: 110px;
	}
	.xs-hamburger-btn{
		position: absolute;
		top: 29px;
		left: 0;
		width: 45px;
		height: 25px;
	}

	.line-icon {
	    cursor: pointer;
	    position: relative;
	    height: 100%;
	    width: 100%
	}
	.line-icon span {
	    height: 3px;
	    width: 35px;
	    background: #fff;
	    display: block;
	    position: absolute;
	    transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.line-icon span:first-child {
	    width: 100%;
	    top: 0px;
	    right: 0px;
	}
	.line-icon span:nth-child(2) {
	    top: 9px;
	    left: 0px;
	    width: 35px;
	}
	.line-icon span:nth-child(3) {
	    width: 27px;
	    top: 18px;
	    left: 0px;
	}
	.line-icon.active-collapse span:first-child {
	    width: 35px;
	}
	.line-icon.active-collapse span:nth-child(2) {
	    width: 30px;
	}
	.line-icon.active-collapse span:last-child {
	    width: 25px;
	}



	body.active-scroll-off {
	    overflow: hidden;
	}
	.bdoverlay.active {
	    z-index: 9999;
	    opacity: 1;
	}
	.bdoverlay {
	    background: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    z-index: -1;
	}

	.xs-nav-menu-cntlr.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999999;
	    max-width: 320px;
	    width: 100%;
	}
	.xs-nav-menu-cntlr {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    background: #E5E5E5;
	    width: 0;
	    right: -250px;
	    z-index: -1;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.xs-nav-menu-cntlr-inr{
		position: relative;
		padding-top: 25px;
		overflow-y: auto;
		height: 100%;
		position: relative;
	}

	.closebtn-wrp{
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	.closebtn-wrp strong{
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
		text-transform: uppercase;
		color: #CB9F67;
		margin-left: 8px;
		display: block;
	}
	.xs-nav-menu-cntlr .closebtn {
	    position: relative;
	    width: 20px;
	    height: 20px;
	    display: inline-block;
	    vertical-align: top;
	    max-width: 100%;
	   	margin-left: 24px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		display: inline-block;
		vertical-align: baseline;
	}
	.xs-nav-menu-cntlr .closebtn span {
	    position: inherit;
	    left: 0px;
	    height: 2px;
	    width: 100%;
	    background: #CB9F67;
	    top: 9px;
	    display: block;
	}
	.xs-nav-menu-cntlr .closebtn span:first-child {
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	}
	.xs-nav-menu-cntlr .closebtn span:last-child {
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    top: 7px;
	}

	body.body-noscroll{
		overflow: hidden
	}

	.xs-nav-menu-cntlr .main-nav{
		padding: 25px 25px 29px;
		text-align: center;
	}
	.main-nav{
		display: block;
	}
	.xs-nav-menu-cntlr .main-nav ul li{
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.xs-nav-menu-cntlr .main-nav ul li a{
		font-family: 'Operetta18-Medium';
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0.02em;
		color: #4C2631;
		text-transform: capitalize;
		display: inline-block;
		vertical-align: baseline;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
		padding-bottom: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu a{
		font-size: 15px;
		line-height: 1;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		display: none;
	}

	.xs-language{
		background: #4c2631;
		height: 44px;
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		color: #CB9F67;
	}
	.xs-language ul li{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 16px;
	}
	.xs-language ul{
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;
	}
	.xs-language ul li:first-child{
		height: 100%;
		background: #CB9F67;
		color: #fff;
		width: 44px;
		padding-left: 0;
	}
	.xs-menu-address{
		padding: 45px 20px 20px 40px;
		background: #fff;
	}
	.xs-menu-address strong{
		font-weight: normal;
		display: block;
		font-size: 21px;
		line-height: 1;
		color: #4E2833;
		font-family: 'Operetta18-Regular';
		margin-bottom: 17px;
	}
	.xs-menu-address a{
		font-weight: 500;
		font-size: 12px;
		line-height: 26px;
		letter-spacing: 0.02em;
		color: #512C36;
		display: inline-block;
		vertical-align: baseline;
	}
	.xs-menu-quick-info{
		background: #0A2B20;
		padding: 35px 40px 30px;
	}
	.xs-tel-email ul li{
		margin-bottom: 15px;
	}
	.xs-tel-email ul li a{
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.02em;
		color: #CB9F67;
		display: flex;
		align-items: center;
	}
	.xs-tel-email ul li a i{
		width: 33px;
	}
	.xs-social{
		padding-top: 10px;
	}
	.xs-social ul li{
		display: inline-block;
		vertical-align:baseline;
		padding-right: 10px;
	}
	.xs-menu-product-item{
		height: 187px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		text-align: center;
	}
	.xs-menu-product-item h4{
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.01em;
		color: #CB9F67;
	}
	.xs-menu-product-item h4 a{
		color: #CB9F67;
	}
	.xs-menu-product-item div > a{
		display: inline-block;
		vertical-align: baseline;
		font-weight: 600;
		font-size: 10px;
		line-height: 1;
		letter-spacing: 0.03em;
		color: #CB9F67;
		margin-left: auto;
		margin-right: auto;
	}
	.xs-menu-product-item div > a i {
	    margin-left: 7px;
	    position: relative;
	    top: -2px;
	}
	.header.page-header .line-icon span{
		background: #4C2631;
	}
	header.header.page-header{
		margin-bottom: 0;
	}
	header.header.page-header .logo{
		width: 160px;
	}
}

@media(max-width: 767px){

}

@media(max-width: 575px){
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}