.hdr-top-notification-bar{
	background: #0A2B20;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	color: #E1BF91;
	padding: 35px 0;
}

.hdr-top-notification p{
	position: relative;
	margin: 0;
	padding-left: 50px;
}

.hdr-top-notification p:before{
	content: "";
	width: 34px;
	height: 34px;
	border: 2px solid #E1BF91;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/i.svg);
	background-position: center center;
	background-repeat: no-repeat;
}



.page-banner.home-page-bnr .page-banner-inr{
	height: 906px;
}

.page-banner.home-page-bnr .page-banner-des{

}

.bnr-btns{
	display: flex;
	align-items: center;
}
.bnr-btn-1{
	margin-right: 10px;
}

.bnr-btn-2 a{
	background: transparent;
	border-color: #fff;
}

.bnr-btn-2 a:hover{
	border-color: #A21D1D;
	background: #A21D1D;
}









.catagory-sec-cntlr{
	max-width: 1650px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 50px 0;
	min-height: 570px;
	background: #4c2631;
}
.catagory-slider-cntlr{

}
.catagory-slider{

}
.catagory-slide-item-cntlr{
	margin: 23px;
	padding: 30px;
	background: #1A1429;
}
.catagory-slider .catagory-slide-item-cntlr{
	margin-right: 0;
}
.catagory-slide-item{

}
.catagory-slide-item-img-cntlr{
	height: 176px;
	overflow: hidden;
	position: relative;
	margin-bottom: 35px;
}
.catagory-slide-item-img{
	height: 100%;
	width: 100%;
}
.catagory-slide-item-cntlr:hover .catagory-slide-item-img{
	transform: scale(1.051);
	-ms-transform: scale(1.051);
	-webkit-transform: scale(1.051);
	-o-transform: scale(1.051);
}
.catagory-slide-item-desc{
	text-align: center;
}
.catagory-slide-item-title{
	font-family: 'Operetta18-Medium';
	font-size: 32px;
	line-height: 1;
	color: #D5B48A;
	margin-bottom: 23px;
	text-transform: capitalize;
}
.catagory-slide-item-title a{
	display: inline-block;
	color: #D5B48A;

}
.catagory-slide-item-title a:hover{
	color: #A21D1D;
}
.catagory-slide-item-desc p{
	font-weight: 500;
	font-size: 14px;
	line-height: 1.7;
	color: #D5B48A;
	margin-bottom: 25px;
}
.catagory-slide-item-btn{
	display: flex;
	justify-content: center;
}
.catagory-slide-item-btn 