.hdr-top-notification-bar{
	background: #0A2B20;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	color: #E1BF91;
	padding: 35px 0;
}

.hdr-top-notification p{
	position: relative;
	margin: 0;
	padding-left: 50px;
}

.hdr-top-notification p:before{
	content: "";
	width: 34px;
	height: 34px;
	border: 2px solid #E1BF91;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/i.svg);
	background-position: center center;
	background-repeat: no-repeat;
}



.page-banner.home-page-bnr .page-banner-inr{
	height: 906px;
}

.page-banner.home-page-bnr .page-banner-des{

}

.bnr-btns{
	display: flex;
	align-items: center;
}
.bnr-btn-1{
	margin-right: 10px;
}

.bnr-btn-2 a{
	background: transparent;
	border-color: #fff;
}

.bnr-btn-2 a:hover{
	border-color: #A21D1D;
	background: #A21D1D;
}








.catagory-sec{
	margin-top: -63px;
	z-index: 3;
	position: relative;
}
.catagory-sec-cntlr{
	max-width: 1650px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 50px 0;
	min-height: 570px;
	background: #4c2631;
}
.catagory-slider-cntlr{
	margin-top: -63px;
	overflow-x: 3;
}
.catagory-slider{
	margin-left: -12px;
	margin-right: -12px;
}
.sliderItem{
	padding-left: 12px;
	padding-right: 12px;
}
.catagory-slide-item-cntlr{
	padding: 25px 25px;
	background: #1A1429;
}
.catagory-slide-item{
	padding-bottom: 23px;
}
.catagory-slide-item-img-cntlr{
	height: 176px;
	overflow: hidden;
	position: relative;
	margin-bottom: 35px;
}
.catagory-slide-item-img{
	height: 100%;
	width: 100%;
}
.catagory-slide-item-cntlr:hover .catagory-slide-item-img{
	transform: scale(1.051);
	-ms-transform: scale(1.051);
	-webkit-transform: scale(1.051);
	-o-transform: scale(1.051);
}
.catagory-slide-item-desc-cntlr{
	text-align: center;
}
.catagory-slide-item-title{
	font-family: 'Operetta18-Medium';
	font-size: 32px;
	line-height: 1;
	color: #D5B48A;
	margin-bottom: 23px;
	text-transform: capitalize;
}
.catagory-slide-item-title a{
	display: inline-block;
	color: #D5B48A;

}
.catagory-slide-item-title a:hover{
	color: #A21D1D;
}
.catagory-slide-item-desc{
	margin-bottom: 25px;
}
.catagory-slide-item-desc p{
	font-weight: 500;
	font-size: 14px;
	line-height: 1.7;
	color: #D5B48A;
	margin-bottom: 25px;
}
.catagory-slide-item-desc p:last-child{
	margin-bottom: 0;
}
.catagory-slide-item-btn{
	display: flex;
	justify-content: center;
}


.wellcome-sec{
	padding: 150px 0 120px 0;
}
.wellcome-sec-cntrl{
	display: flex;
	flex-wrap: wrap;

}
.wellcome-left{
	width: 28.3%;
}
.wellcome-right-cntlr{
	width: 71.7%;
}
.wellcome-title{
	font-family: 'Operetta18-Regular';
	font-size: 48px;
	line-height: 1;
	letter-spacing: 0.01em;
	color: #512C36;
	margin-bottom: 30px;
}
.wellcome-right{
	max-width: 660px;
	width: 100%;
}
.wellcome-sub-title{
	font-family: 'Operetta18-Regular';
	font-size: 26px;
	line-height: 1.3;
	letter-spacing: 0.038em;
	color: #512C36;
	margin-bottom: 28px;
}
.wellcome-right p{
	font-weight: 500;
	font-size: 14px;
	line-height: 1.6;
	color: #512C36;
}

.visite-sec{
	padding-bottom: 115px;
}
.visite-sec-wrap{
	display: flex;
	flex-wrap: wrap;
}
.visite-lft-desc{
	width:  28.3%;
}
.visite-lft-title{
	font-family: 'Operetta18-Medium';
	font-size: 30px;
	line-height: 1;
	color: #512C36;
	margin-bottom: 30px;
}
.visite-lft-desc p{
	font-weight: 500;
	font-size: 14px;
	line-height: 1.6;
	color: #512C36;
	
}

.visite-slider-cntlr{
	width: 71.7%;
/*	padding-right: 19px;*/
	overflow: hidden;
}
.visite-slider-cntlr .restaurantGallerySlider .swiper-slide{
	width: 600px!important;
}
.visite-slider-cntlr .restaurant-gallery-slide-item{
	position: relative;
	max-width: initial;
	width: 100%;
	height: 398px;
}
.visite-slide-item-desc-cntlr{
	position: absolute;
	width: 372px;
	height: 200px;
	left: 100%;
	margin-left: -40px;
	bottom: -50px;
	padding: 20px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0a2b20;
	z-index: 11;
	display: none;
}
.visite-slider-cntlr .swiper-container{
	padding-bottom: 50px;
	margin-right: 0;
}
.visite-slider-cntlr .slider-arrows{
	margin-top: -50px;
}
.visite-slider-cntlr .restaurantGallerySlider .swiper-slide-active .restaurant-gallery-slide-item .visite-slide-item-desc-cntlr{
	display: flex;
}
.visite-slide-item-desc{
	max-width: 290px;
	width: 100%;
}
.visite-slide-item-title{
	font-family: 'Operetta18-Medium';
	font-size: 30px;
	line-height: 1.2;
	color: #CB9F67;
	margin-bottom: 18px;
}
.visite-slide-item-title a{
	display: inline-block;
	color: #CB9F67;
}
.visite-slide-item-title a:hover{
	color: #A21D1D;
}
.visite-slide-item-desc p{
	font-weight: 500;
	font-size: 14px;
	line-height: 1.6;
	color: #D7D3CD;
	
}
.visite-slide-item-desc p:last-child{
	margin-bottom: 0;
}

.news-sec{
	padding: 122px 0;
	background: #ebe6dc;
}
.news-title{
	font-family: 'Operetta18-Regular';
	font-size: 30px;
	line-height: 1;
	letter-spacing: 0.038em;
	color: #522D37;
	margin-bottom: 30px;
	text-align: center;
}
.news-items-cntlr .np-nieuws-grd-items > ul > li{
	width: 33.33%;
	padding-bottom: 10px;
}
.news-items-cntlr .np-nieuws-grd-items > ul > li:nth-child(2n+1){
	clear: initial;
}
.news-items-cntlr .np-nieuws-grd-items > ul > li:nth-child(3n+1){
	clear: left;
}
.news-btn .fl-tsprnt-btn{
	margin-left: auto;
	margin-right: auto;
}
.hm-footer-gallery{
	padding-top: 92px;
	padding-left: 20px;
}
.hm-ftr-gllry-cntlr{

}
.hm-footer-gallery-title{
    font-family: 'Operetta18-Regular';
	font-size: 30px;
	line-height: 1;
	letter-spacing: 0.038em;
	color: #522D37;
	margin-bottom: 60px;
	padding-bottom: 28px;
	position: relative;
	text-align: center;
}
.hm-footer-gallery-title:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	height: 2px;
	width: 58px;
	background: #522d37;
}
.hm-ftr-glry-slide-item{
	width: 398px;
}
.gllry-slide-item-cntlr{
	height: 398px;
	position: relative;
	overflow: hidden;
	margin: 20px;
}
.hm-ftr-glry-slider-wrap .gllry-slide-item-cntlr{
	margin-right: 0;
}
.glry-slide-item{
	height: 100%;
	width: 100%;
}
.gllry-slide-item-cntlr:hover .gllry-slide-item{
	transform: scale(1.051);
	-ms-transform: scale(1.051);
	-webkit-transform: scale(1.051);
	-o-transform: scale(1.051);
}



/*responsive*/
@media(max-width: 1599px){
	.catagory-sec{
		padding: 0 40px;
	}
	.catagory-slide-item-cntlr {
		padding: 17px 17px;
	}
	.catagory-slide-item-desc p{
		font-size: 13px;
	}


	.visite-slider-cntlr .restaurantGallerySlider .swiper-slide{
		width: 456px!important;
	}
}
@media(max-width: 1399px){
	.sliderItem{
		padding: 0 8px;
	}
	.catagory-slide-item-cntlr{
		padding: 12px 12px;
	}
	.catagory-slide-item-desc p{
	    font-size: 12px;
	}
}