.loyalty-welcome-section{
	background: #1A1429;
	padding: 90px 0;
}

.loyalty-welcome-sec-con{
	display: flex;
	align-items: center;
}
.loyalty-welcome-sec-lft,
.loyalty-welcome-sec-rgt{
	width: 50%;
}

.loyalty-welcome-sec-des{
	color: #fff;
	line-height: 1.3;
	padding-left: 70px;
	padding-right: 70px;
}
.lwsd-title{
	font-size: 48px;
	line-height: 1;
	color: #BE9563;
	letter-spacing: 0.01em;
	font-weight: normal;
	margin: 0 0 25px 0;
	font-family: 'Operetta18-Regular';
}
.loyalty-welcome-sec-des strong{
	font-size: 22px;
	line-height: 1.2;
	font-weight: normal;
	font-family: 'Operetta18-Regular';
	margin-bottom: 35px;
	display: block;
	color: #D7D3CD;
	letter-spacing: 0.038em;
}
.loyalty-welcome-sec-des p{
	font-size: 14px;
	line-height: 1.5;
	color: #D7D3CD;
	padding-right: 123px;
}
.loyalty-welcome-sec-des p:last-child{
	margin-bottom: 0;
}
.loyalty-welcome-sec-fea-img{
	height: 446px;
	width: 100%;
	position: relative;
}

.loyalty-welcome-sec-fea-img-inr{
	width: 100%;
	height: 100%;
}

.loyalty-welcome-sec-fea-img i{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}



.loyalty-grds-section{
	padding: 100px 0 22px;
}
.loyalty-grds-cntlr{
	width: 100%;
}
.loyalty-grds-cntlr ul li{
	padding-bottom: 95px;
}
.loyalty-grds-cntlr ul li:last-child{
	padding-bottom: 30px;
}
.loyalty-grd-item{
	display: flex;
	align-items: center;
}
.loyalty-grd-item-fea-img{
	width: 49%;
	height: 446px;
}

.loyalty-grd-item-fea-img div{
	width: 100%;
	height: 100%;
}

.loyalty-grd-item-des{
	width: 51%;
	padding-left: 70px;
}
.loyalty-grd-item-des > div{
	max-width: 439px;
	width: 100%;
}
.loyalty-grd-item-des a{
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0.01em;
	color: #512C36;
	display: inline-block;
	vertical-align: baseline;
	border-bottom: 2px solid #512C36;
}
.loyalty-grd-item-des a:hover{
	color: #BE9563;
	border-color: #BE9563;
}

.lgid-title{
	font-weight: 500;
	font-size: 34px;
	line-height: 1.2;
	font-family: 'Operetta18-Medium';
	color: #512C36;
	margin-bottom: 20px;
}

.loyalty-grd-item-des p{
	font-size: 14px;
	margin-bottom: 42px;
}

.loyalty-grds-cntlr ul li:nth-child(2n+2) .loyalty-grd-item-des{
	order: 1;
	padding-left: 0;
	padding-right: 65px;
}

.loyalty-grds-cntlr ul li:nth-child(2n+2) .loyalty-grd-item-fea-img{
	order: 2;
}

.loyalty-grds-cntlr ul li:nth-child(2n+2) .loyalty-grd-item-des > div{
	max-width: 428px;
	margin-left: auto;
}



@media(max-width: 1599px){
	.lwsd-title{
		font-size: 45px;
	}
	.loyalty-welcome-sec-des strong {
	    font-size: 20px;
	}
	.loyalty-welcome-sec-des{
		padding-right: 44px;
	}
	.loyalty-welcome-sec-des p{
		padding-right: 64px;
	}
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){


}

@media(max-width: 991px){

}

@media(max-width: 767px){

}

@media(max-width: 575px){
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}