.np-nieuws-con-sec{
	padding-top: 40px;
	padding-bottom: 80px;
}


.np-nieuws-lftsidebar{
	float: left;
	width:  32.1428%;
}
.np-nieuws-grds-item{
	float: right;
	width:  67.8571%;
	padding-left: 30px;
}

.np-nieuws-lftsidebar-inr{
	background: url('../images/np-nieuws-lftsidebar-bg.png');
	background-repeat: no-repeat!important;
	background-size: cover!important;
	padding: 95px 60px 85px;
}
.np-nieuws-lftsidebar-des{
	background: #1A1429;
	min-height: 380px;
	display: flex;
	align-items: center;
}
.np-nieuws-lftsidebar-des:after{
	content: "";
	display: table;
	min-height: inherit;
	font-size: 0;
}
.np-nieuws-lftsidebar-des-inr{
	padding-left: 60px;
	padding-right: 50px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}
.np-nieuws-lftsidebar-title{
	display: block;
	font-size: 42px;
	line-height: 1;
	margin-bottom: 30px;
	color: #D5B48A;
}
.np-nieuws-lftsidebar-des p{
	color: #D7D3CD;
}

.np-nieuws-lftsidebar-des-inr ul li{
	padding-top: 5px;
	padding-bottom: 5px;
}
.np-nieuws-lftsidebar-des-inr ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 600;
}
.np-nieuws-lftsidebar-des-inr ul li a:hover{
	color: #CB9F67;
	text-decoration: underline;
}
.np-agenda-lftsidebar .np-nieuws-lftsidebar-des{
	min-height: 475px;
}
.np-arrangementen-lftsidebar .np-nieuws-lftsidebar-des-inr{
	padding-left: 40px;
	padding-right: 25px;
}

.np-nieuws-grd-items ul{
	margin-left: -12px;
	margin-right: -12px;
}
.np-nieuws-grd-items ul li{
	float: left;
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}
.np-nieuws-grd-items ul li:nth-child(2n+1){
	clear: left;
}

.np-nieuws-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.np-nieuws-grd-item-img{
	min-height: 280px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.np-nieuws-grd-item-des{
	padding-top: 40px;
	text-align: center;
}
.np-nieuws-grd-item-des i{
	display: block;
	margin-bottom: 10px;
}
.np-nieuws-grd-item-des span{
	display: block;
	font-size: 12px;
	color: #512C36;
	line-height: 1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
.np-nieuws-grd-item-des span > a{
	color: #512C36;
}
.np-nieuws-grd-item-des span > a:hover{
	color: #D5B48A;
}
.np-ngid-title{
	display: block;
	font-size: 22px;
	line-height: 1.3;
	margin-bottom: 30px;
	color: #512C36;
	letter-spacing: 0.038em;
}
.np-ngid-title > a{
	color: #512C36;
}
.np-ngid-title > a:hover{
	color: #D5B48A;
}

.np-nieuws-grd-item:hover .np-nieuws-grd-item-img{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
}



.fl-pagination-ctlr{
	text-align: center;
	position: relative;
}
.fl-pagination-ctlr ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fl-pagination-ctlr ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 18px;
	padding-right: 18px;
}
.fl-pagination-ctlr ul li span.current{
	display: inline-block;
	vertical-align: baseline;
	border: 2px solid #4C2631;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600px;
	color: #4C2631;
}
.fl-pagination-ctlr ul li a,
.fl-pagination-ctlr ul li span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #4C2631;
	font-weight: 600;
	line-height: 1;
}
.fl-pagination-ctlr ul li a:hover{
	color: #CBA068;
}
.fl-pagination-ctlr ul li:first-child{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	padding-left: 0;
}
.fl-pagination-ctlr ul li:last-child{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.fl-pagination-ctlr ul li:first-child a,
.fl-pagination-ctlr ul li:last-child a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 1;
	color: #CBA068;
	font-weight: 600;
}
.fl-pagination-ctlr ul li:first-child a{
	padding-left: 40px;
	position: relative;
}
.fl-pagination-ctlr ul li:first-child a i{
	position: absolute;
	top: 0;
	left: 0;
}
.fl-pagination-ctlr ul li:first-child a:hover,
.fl-pagination-ctlr ul li:last-child a:hover{
	color: #4C2631;
}
.fl-pagination-ctlr ul li:first-child a:hover svg,
.fl-pagination-ctlr ul li:last-child a:hover svg{
	fill: #4C2631;
}
.fl-pagination-ctlr ul li:last-child a{
	padding-right: 40px;
	position: relative;
}
.fl-pagination-ctlr ul li:last-child a i{
	position: absolute;
	top: 0;
	right: 0;
}