.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}



.slider-arrows{
	position: relative;
	padding-bottom: 55px;
}
.swiper-button-prev{
	position: absolute;
	left: 0;
	top: auto;
	bottom: 0;
	width: 30px;
	height: 30px;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.swiper-button-next{
	position: absolute;
	left: 60px;
	top: auto;
	bottom: 0;
	height: 30px;
	width: 30px;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.swiper-button-prev:hover svg,
.swiper-button-next:hover svg{
	fill: #4c2631;
}

.swiper-button-prev:after, 
.swiper-container-rtl .swiper-button-next:after{
	content: none;
}
.swiper-button-next:after, 
.swiper-container-rtl .swiper-button-prev:after{
	content: none;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}











/* page banner */

.page-banner{
	overflow: hidden;
}

.page-banner-title{
	font-size: 74px;
	line-height: 1.1;
	font-weight: 500;
	margin-bottom: 22px!important;
}


.page-banner-inr{
	height: 720px;
	position: relative;
}

.page-banner-bg-cntlr{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.page-banner-bg-cntlr div{
	width: 100%;
	height: 100%;
}
.page-banner-des{
	position: relative;
	z-index: 5;
	padding: 335px 0 0 0;
	color: #fff;
}
.page-banner-des-inr{
	max-width: 640px;
	width: 100%;
	padding-left: 60px;
}
.page-banner-des strong{
	display: block;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0.038em;
	margin-bottom: 30px;
	font-weight: normal;
	font-family: 'Operetta18-Medium';
}
.page-banner-des p{
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 30px;
}
.page-banner-des > a,.fl-red-btn{
	width: 198px;
	height: 48px;
	background: #A21D1D;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.03em;
	display: flex;
	align-items: center;
	padding: 5px 35px 5px 22px;
	position: relative;
	border: 2px solid #A21D1D;
}
.page-banner-des > a:hover,
.fl-red-btn:hover{
	background: transparent;
	border-color: #fff;
	color: #fff;
}
.page-banner-des a:hover i,
.fl-red-btn:hover i{
	right: 15px;
}

.page-banner-des a i,
.fl-red-btn i{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}


.breadcrumbs-section{
	margin-bottom: 50px;
}
.page-breadcrumbs ul li{
	display: inline-block;
	vertical-align: baseline;
}
.page-breadcrumbs ul li{
	padding-left: 33px;
	padding-right: 33px;
	position: relative;
}
.page-breadcrumbs ul li:not(:last-child):after{
	content: "";
	position: absolute;
	right: -2.5px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/breadcrumbs-angle.png);
	width: 5.5px;
	height: 8px;
	background-size: 100% auto;
}
.page-breadcrumbs ul li:first-child{
	padding-left: 0;
}
.page-breadcrumbs ul li a{
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #CEA673;
	display: inline-block;
	vertical-align: baseline;
}

.page-breadcrumbs ul li a.fl-home-icon{
	position: relative;
	padding-left: 27px;
}

.page-breadcrumbs ul li a.fl-home-icon:before{
	content: "";
	position: absolute;
	left: 0;
	top: -3px;
	background: url(../images/home-icon.svg);
	width: 15px;
	height: 16px;
	background-size: 100% auto;
}

.page-breadcrumbs ul li a:hover{
	color: #ba905a;
}


/*common button*/
.fl-tsprnt-btn{
	width: 212px;
	height: 48px;
	border: 2px solid #512C36;
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #512C36;
	padding-top: 4px;
}
.fl-tsprnt-btn:hover{
	border-color: #A21D1D;
	color: #fff;
	background: #A21D1D;
}





/*
----------------------
 404 Page Css
----------------------
*/
.np-two-grid-sec-wrp {
    position: relative;
    margin-top: 250px;
    margin-bottom: 170px;
}
.np-two-grid-sec-wrp .col-xs-12,
.np-two-grid-sec-wrp .col-sm-6 {
    position: static;
}
.np-two-grid-main{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45%;
    overflow: hidden;
}
.np-two-grid-main .np-two-grid-img{
    position: relative;
    width: 100%;
    height: 100%;
}
.np-two-grid-main .np-two-grid-img img{
	width: 100%;
}
.np-two-grid-sec-wrp .np-two-grid-des {
    padding: 20px 10px 30px 210px;
    position: relative;
}
.np-two-grid-des-title{
	display: block;
	font-size: 62px;
	line-height: 1.1;
	font-family: 'Operetta18-Regular';
}
.np-two-grid-des span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 26px;
	line-height: 1.2;
	color: #512C36;
	font-style: normal;
	font-family: 'Operetta18-Medium';
	padding-bottom: 15px;
}
.np-two-grid-des p{
	margin-bottom: 45px;
}
.np-two-grid-des ul{
	margin: 0 -35px;
}
.np-two-grid-des ul li{
	float: left;
	font-size: 12px;
	line-height: 14px;
	padding: 0 35px;
	font-weight: 600;
}
.np-two-grid-des ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #512C36;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.np-two-grid-des ul li a:before{
    content: "";
    position: absolute;
    top: 2px;
    right: -25px;
    background: url(../images/angle-icon.svg);
    background-repeat: no-repeat;
    background-size: 6px 8px;
    background-position: center center;
    width: 6px;
    height: 8px;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.np-two-grid-des ul li a:hover{
	color: #A21D1D;
}
.np-two-grid-des ul li a:hover:before{
	right: -30px;
	background: url(../images/angle-icon-hover.svg);
}
.np-two-grid-des strong {
    display: inline-block;
    vertical-align: baseline;
    font-size: 180px;
    line-height: 64px;
    letter-spacing: 0.01em;
    color: #D2AE80;
    transform: rotate(-90deg);
    font-family: 'Operetta18-Regular';
    position: absolute;
    left: -85px;
    top: 120px;
}

